server {
    listen 80;

    location /tte-bssn/ {
        # Lempar request ke backend SSR Nuxt
        proxy_pass http://localhost:3000;

        # Header standar
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        # Hindari redirect ngawur
        proxy_redirect off;

        # Rewrite subpath ke root
        rewrite ^/tte-bssn(/.*)$ $1 break;
    }
}